* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

h1, h2, h3, h4 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
}

p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
}

a {
  font-family: "Quicksand", sans-serif;
  font-size: 1.3rem;
  font-weight: 600;
}

/* Chrome 10-25, Safari 5.1-6 */
header .header {
  z-index: 99999;
  background-color: #121242;
}
header .header .contenedor-fluido img {
  max-width: 120px;
}
header .header .contenedor-fluido .boton-menu .menu-icon img {
  width: 2rem;
}
header .header .contenedor-fluido .contenedor-nav-header {
  align-items: center;
  text-align: center;
}
header .header .contenedor-fluido .contenedor-nav-header .texto-header {
  color: #e9e9e9;
  font-size: 1.3rem;
  font-weight: 500;
}
header .header .contenedor-fluido .contenedor-nav-header .texto-header:hover {
  color: #7878d8;
}

.search-products .container {
  margin-top: 2rem;
  position: relative;
  display: grid;
  place-content: center;
  z-index: 0;
  max-width: 500px;
  margin: 0 10px;
}
.search-products .container .search-container {
  position: relative;
  width: 100%;
  border-radius: 9px;
  background: linear-gradient(135deg, #121242 0%, #121242 100%);
  padding: 5px;
  display: flex;
  align-items: center;
}
.search-products .container .search-container .search-container::before {
  top: -1px;
  left: -1px;
  background: linear-gradient(0deg, #121242 0%, #121242 100%);
  z-index: -1;
}
.search-products .container .search-container .search-container::after {
  bottom: -1px;
  right: -1px;
  z-index: -2;
}
.search-products .input {
  padding: 10px;
  width: 100%;
  background: linear-gradient(135deg, #121242 0%, #121242 100%);
  border: none;
  color: #9EBCD9;
  font-size: 20px;
  border-radius: 50px;
}
.search-products .input::placeholder {
  color: white;
  font-weight: 600;
}
.search-products .input:focus {
  outline: none;
}
.search-products .search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 12px;
  margin-right: 10px;
}
.search-products .search__icon:hover {
  border-left: 3px solid white;
}
.search-products .search__icon path {
  fill: white;
}

main {
  background: -webkit-linear-gradient(to right, #1e3c72, #2a5298);
  background: linear-gradient(to right, #1e3c72, #2a5298);
}
main .search-products {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
main .index-sect-1 {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .index-sect-1 .div-titulo h1 {
  font-size: 1.7rem;
  font-weight: 200;
  text-align: center;
  color: #e9e9e9;
}
main .index-sect-1 .div-titulo h1 strong {
  color: rgb(127, 192, 249);
}
main .index-sect-1 .div-titulo h1 .span-titulo {
  color: #121242;
  font-size: 6rem;
  font-weight: 700;
}
main .index-sect-1 .div-titulo h1 span {
  color: #29a30d;
  font-size: 3rem;
  font-weight: 700;
}
main .index-sect-2 .container-big-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #2d2d58;
  border-radius: 2rem 1rem 2rem 1rem;
  min-height: 600px;
  box-shadow: 0 0 20px 0 #2d2d58;
}
main .index-sect-2 .container-big-form .titulo-form h2 {
  color: #e9e9e9;
  font-size: 3rem;
  font-weight: 500;
}
main .index-sect-2 .container-big-form .titulo-form h2 .title-span {
  color: #121242;
  font-size: 5rem;
  font-weight: 900;
}
main .index-sect-2 .container-big-form .titulo-form .subtitle-span {
  color: #e9e9e9;
  font-size: 1.4rem;
}
main .index-sect-2 .container-big-form .form-container {
  width: 500px;
  position: relative;
}
main .index-sect-2 .container-big-form .form-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
main .index-sect-2 .container-big-form .form-container form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;
}
main .index-sect-2 .container-big-form .form-container form div input {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: rgba(82, 91, 150, 0.8156862745);
  border: none;
  width: 80%;
}
main .index-sect-2 .container-big-form .form-container form div input:focus {
  outline: none;
  border: 2px solid #121242;
  box-shadow: 0 0 10px 0 #121242;
}
main .index-sect-2 .container-big-form .form-container form div input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}
main .index-sect-2 .container-big-form .form-container form .div-send {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 1rem;
}
main .index-sect-2 .container-big-form .form-container form .div-send .send {
  padding: 0.5rem;
  border-radius: 0.8rem;
  font-size: 1.3rem;
  width: 50%;
}
main .index-sect-2 .container-big-form .form-container form .div-send .send::placeholder {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
}
main .index-sect-2 .container-big-form .form-container form .div-send .send:focus, main .index-sect-2 .container-big-form .form-container form .div-send .send:hover {
  transition: all 0.5s;
  background-color: #121242;
  box-shadow: none;
  color: #e9e9e9;
}

@media screen and (max-width: 980px) {
  .contenedor-fluido {
    margin: 0;
    position: relative;
  }
  .contenedor-fluido .boton-menu {
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  .contenedor-fluido .boton-menu:focus {
    box-shadow: none;
  }
  .contenedor-fluido .contenedor-nav-header {
    position: absolute;
    top: 98px;
    left: 0;
    background-color: #121242;
    width: 100%;
    padding-bottom: 1rem;
    align-items: center;
    text-align: center;
  }
  .contenedor-fluido .contenedor-nav-header ul {
    line-height: 5rem;
  }
  .index-sect-2 .container-big-form {
    padding-top: 3rem;
    align-items: center;
  }
  .index-sect-2 .container-big-form .titulo-form {
    text-align: center;
    align-items: center;
    padding-top: 2rem;
    margin-bottom: 1rem;
  }
  .index-sect-2 .container-big-form .titulo-form .subtitle-span {
    text-transform: uppercase;
    font-weight: 600;
  }
  .index-sect-2 .container-big-form .titulo-form .form-container {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
