

html {
    font-size: 15px;
}

h1, h2, h3, h4 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

p{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
}

a{
    font-family: 'Quicksand', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}