

// HEADER MOBILE/TABLET 

@media screen and (max-width:980px){
    .contenedor-fluido{
        margin: 0;
        position: relative;
        .boton-menu{
            position: relative;
            border: none;
            display: flex;
            align-items: center;
            margin-right: 1rem;
            
            &:focus {
                box-shadow: none;
            }
        }
        .contenedor-nav-header{
            position: absolute;
            top: 98px;
            left: 0;
            background-color: $violet-principal-color;
            width: 100%;
            padding-bottom: 1rem;
            align-items: center;
            text-align: center;
            ul{
                line-height: 5rem;
            }
        }
    }

    .index-sect-2{
        .container-big-form{
            padding-top: 3rem;
            align-items: center;
            .titulo-form{
                text-align: center;
                align-items: center;
                padding-top: 2rem;
                margin-bottom: 1rem;
                .subtitle-span{
                    text-transform: uppercase;
                    font-weight: 600;
                }
                .form-container{
                    width: 100%;
                }
            }

        }
    }
}    