

// HEADER MOBILE/TABLET 
@media screen and (max-width: 992px){
    header{
        .only-nav-child{
            position: relative;
            .div-desplegable{
                position: absolute;
                background-color: $violet-principal-color;
                width: 100%;
                top: 98px;
                z-index: 9999;
                .ul{
                    line-height: 5rem;
                }
            }
        }
    }
}