
header{
    .nav{
        padding: 0;
        .only-nav-child{
            background-color: $violet-principal-color;
            padding: 0;
            .logo-a{
                padding: 0;
                img{
                    max-width: 120px;
                }
            }
            .btn-menu{
                &:focus{
                    box-shadow: none;
                }
                .menu{
                    margin-right: 2rem;
                    margin-bottom: 1rem;
                }
            }
            .div-desplegable{
                display: flex;
                justify-content: space-around;
                padding: 2rem;
                text-align: center;
                .ul{
                    line-height: 5rem;
                    .ul-a{
                        color: $white-color;
                        font-size: 1.4rem;
                        font-weight: 600;
                        &:hover{
                            color: $violet-secundary-color-light;
                        }
                    }
                }
            }
        }
    }
}







// header{
//     background-color: $violet-principal-color;
//     @include flex(space-between, center, row nowrap);
//     position: relative;
//     .logo{
//         img{
//             max-width: 120px;
//         }
//     }
//     nav{
//         .menu{
//             display: none;
//         }
//         ul{
//             display: flex;
//             gap: 2rem;
//             position: absolute;
//             left: 0px;
//             right: 0px;
//             top: 40%;
    
//             justify-content: center;
//             list-style: none;
//                 li{
//                     a{
//                         text-decoration: none;
//                         color: $white-color;
//                         &:hover{
//                             transition: all .3s;
//                             color: $violet-secundary-color-light;
//                         }
//                     }
//                 }
//         }
//     }
// }