


header{

    .header{
        z-index: 99999;
        background-color: $violet-principal-color;
        .contenedor-fluido{
            img{
                max-width: 120px;
            }
            .boton-menu{
                .menu-icon{
                    img{
                        width: 2rem;
                    }
                }
            }
            .contenedor-nav-header{
                align-items: center;
                text-align: center;
                .texto-header {
                    color: $white-color;
                    font-size: 1.3rem;
                    font-weight: 500;
                    &:hover{
                        color: $violet-secundary-color-light;
                    }
                }
            }
        }

    }
    
}
