.search-products{
    .container {
        margin-top: 2rem;
        position: relative;
        display: grid;
        place-content: center;
        z-index: 0;
        max-width: 500px;
        margin: 0 10px;
        .search-container {
            position: relative;
            width: 100%;
            border-radius: 9px;
            background: linear-gradient(135deg, $violet-principal-color 0%, $violet-principal-color 100%);
            padding: 5px;
            display: flex;
            align-items: center;
            .search-container::before {
                top: -1px;
                left: -1px;
                background: linear-gradient(0deg, $violet-principal-color 0%, $violet-principal-color 100%);
                z-index: -1;
              }
              
              .search-container::after {
                bottom: -1px;
                right: -1px;
                z-index: -2;
              }
          }
      }
      
    
      
      .input {
        padding: 10px;
        width: 100%;
        background: linear-gradient(135deg, $violet-principal-color 0%, $violet-principal-color 100%);
        border: none;
        color: #9EBCD9;
        font-size: 20px;
        border-radius: 50px;
        &::placeholder {
            color: white;
            font-weight: 600;
        }
      }
      
      .input:focus {
        outline: none;
    }
      
      .search__icon {
        width: 50px;
        aspect-ratio: 1;
        border-left: 2px solid white;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-radius: 50%;
        padding-left: 12px;
        margin-right: 10px;
      }
      
      .search__icon:hover {
        border-left: 3px solid white;
      }
      
      .search__icon path {
        fill: white;
      }

}